@{
    ViewData["Title"] = "Heikin-Ashi指標結果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--自製麵包屑書籤-->
<div class="breadcrumbBox">
    <div class="breadcrumbText"><a href="/Home/Index">首頁</a>&nbsp&nbsp>&nbsp&nbsp<a href="">財務指標工具</a>&nbsp&nbsp>&nbsp&nbsp<span>Heikin-Ashi指標結果</span></div>
</div>
<!--自製麵包屑書籤 結束-->

@* <h3>Python Script Output</h3>
<pre>@ViewBag.PythonOutput</pre>

<h3>Python Script Error</h3>
<pre>@ViewBag.PythonError</pre> *@

<div class="container">
    <div class="indicatorOrStrategyContainerBox containerBox shadow">
        <div class="headline">Heikin-Ashi指標結果</div>

        <!-- 參數設定 -->
        <div class="parameterSettingBox">
            <div class="parameterSettingTitle">參數設定</div>
            <div class="parameterSettingContent">
                <form>
                    <div class="parameterSettingEveryBox">
                        <div>股票代號</div>
                        <input type="text" value="@ViewData["Arg0"]" readonly>
                    </div>
                    <div class="parameterSettingEveryBox">
                        <div>起始日期</div>
                        <input type="text" value="@ViewData["Arg1"]" readonly>
                    </div>
                    <div class="parameterSettingEveryBox">
                        <div>終止日期</div>
                        <input type="text" value="@ViewData["Arg2"]" readonly>
                    </div>
                </form>
            </div>
        </div>

        <!-- 分析圖 -->
        <div class="analysisChartBox">
            <div class="analysisChartTitle">分析圖</div>
            <div class="analysisChartContent">
                <img src="~/images/output_positions_HeikinAshi.png" alt="Positions Plot" />
                <img src="~/images/output_HeikinAshi_portfolio.png" alt="Heikin_Ashi Plot" />
            </div>
        </div>
    </div>
</div>
