@{
    ViewData["Title"] = "MACD震盪指標結果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--自製麵包屑書籤-->
<div class="breadcrumbBox">
    <div class="breadcrumbText"><a href="/Home/Index">首頁</a>&nbsp&nbsp>&nbsp&nbsp<a href="">財務指標工具</a>&nbsp&nbsp>&nbsp&nbsp<span>MACD震盪指標結果</span></div>
</div>
<!--自製麵包屑書籤 結束-->

@* <h3>Python Script Output</h3>
<pre>@ViewBag.PythonOutput</pre>

<h3>Python Script Error</h3>
<pre>@ViewBag.PythonError</pre> *@

<div class="container">
    <div class="MACDContainerBox containerBox shadow">
        <div class="MACDTitle">MACD震盪指標結果</div>

        <!-- 參數設定 -->
        <div class="ParameterSettingBox">
            <div class="ParameterSettingTitle">參數設定</div>
            <div class="ParameterSettingContent">
                <form>
                    <div class="ParameterSettingEveryBox">
                        <div>短期移動平均線 (MA1)</div>
                        <input type="text" value="@ViewData["Arg0"]" readonly>
                    </div>
                    <div class="ParameterSettingEveryBox">
                        <div>長期移動平均線 (MA2)</div>
                        <input type="text" value="@ViewData["Arg1"]" readonly>
                    </div>
                    <div class="ParameterSettingEveryBox">
                        <div>起始日期</div>
                        <input type="text" value="@ViewData["Arg2"]" readonly>
                    </div>
                    <div class="ParameterSettingEveryBox">
                        <div>終止日期</div>
                        <input type="text" value="@ViewData["Arg3"]" readonly>
                    </div>
                    <div class="ParameterSettingEveryBox">
                        <div>股票代號</div>
                        <input type="text" value="@ViewData["Arg4"]" readonly>
                    </div>
                    <div class="ParameterSettingEveryBox">
                        <div>時間切割</div>
                        <input type="text" value="@ViewData["Arg5"]" readonly>
                    </div>
                </form>
            </div>
        </div>

        <!-- 分析圖 -->
        <div class="AnalysisChartBox">
            <div class="AnalysisChartTitle">分析圖</div>
            <div class="AnalysisChartContent">
                <img src="~/images/output_positions_MACD.png" alt="Positions Plot"/>
                <img src="~/images/output_macd.png" alt="MACD Plot" />
            </div>
        </div>
    </div>
</div>

