@using System.Data
@{
    ViewData["Title"] = "動能交易策略結果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--自製麵包屑書籤-->
<div class="breadcrumbBox">
    <div class="breadcrumbText"><a href="/Home/Index">首頁</a>&nbsp&nbsp>&nbsp&nbsp<span>動能交易策略結果</span></div>
</div>
<!--自製麵包屑書籤 結束-->

<div class="container">
    <div class="QuantitativeMomentumContainerBox containerBox shadow">
        <div class="QuantitativeMomentumTitle">動能交易策略</div>

        <!-- 交易策略 -->
        <div class="TradingStrategyBox">
            <div class="TradingStrategyTitle">交易策略</div>
            <div class="TradingStrategyContent">
                <form>
                    <div class="ParameterSettingEveryBox">
                        <div>刪除低動量股票數量</div>
                        <input type="text" value="@ViewData["Arg0"]" readonly class="Non-input">
                    </div>
                    <div class="ParameterSettingEveryBox">
                        <div>投資組合數量</div>
                        <input type="text" value="@ViewData["Arg1"]" readonly class="Non-input">
                    </div>
                </form>
            </div>
        </div>
    
        <!-- 推薦購買的股票數量 -->
        <div class="RecommendedBuyStockBox">
            <div class="RecommendedBuyStockTitle">推薦購買的股票數量</div>
                <div class="scrollable-table">
                @if (ViewBag.TableData1 != null)
                {
                        <table class=border = "1">
                        <thead>
                            <tr>
                                <th scope="col">股票代號</th>
                                <th scope="col">股票當前價格</th>
                                <th scope="col">一年期可回報價格</th>
                                <th scope="col">買進股票數量</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in ViewBag.TableData1.Rows)
                            {
                                <tr>
                                        @for (int i = 0; i < row.ItemArray.Length; i++)
                                        {
                                            var item = row.ItemArray[i];
                                            if (i == 1 || i == 2)
                                            {
                                                <td>@String.Format("{0:F3}", Convert.ToDouble(item))</td>
                                            }
                                            else
                                            {
                                                <td>@item</td>
                                            }
                                        }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No data available for Final DataFrame after Calculating Number of Shares to Buy.</p>
                }
            </div>
        </div>

        <!-- 推薦購買的HQM股票數量 -->
        <div class="HQMBuyStockBox">
            <div class="HQMBuyStockTitle">推薦購買的HQM股票數量</div>
            <div class="scrollable-table" style="max-height: 400px; overflow-y: auto;">
                @if (ViewBag.TableData2 != null)
                {
                    <table class="table table-bordered table-hover" border="1">
                        <thead class="thead-light">
                            <tr class=align-middle>
                                <th scope="col">股票代號</th>
                                <th scope="col">股票當前價格</th>
                                <th scope="col">買進股票數量</th>
                                <th scope="col">一年期可回報價格</th>
                                <th scope="col">一年期可回報百分比</th>
                                <th scope="col">六個月可回報價格</th>
                                <th scope="col">六個月可回報百分比</th>
                                <th scope="col">三個月可回報價格</th>
                                <th scope="col">三個月可回報百分比</th>
                                <th scope="col">一個月可回報價格</th>
                                <th scope="col">一個月可回報百分比</th>
                                <th scope="col">HQM品質分數</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in ViewBag.TableData2.Rows)
                            {
                                <tr>
                                    @for (int i = 0; i < row.ItemArray.Length; i++)
                                    {
                                        var item = row.ItemArray[i];
                                        if (i == 1 || i == 3 || i == 4 || i == 5 || i == 7 || i == 9 || i == 11)
                                        {
                                            <td>@String.Format("{0:F3}", Convert.ToDouble(item))</td>
                                        }
                                        else
                                        {
                                            <td>@item</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No data available for HQM DataFrame after Calculating Number of Shares to Buy.</p>
                }
            </div>
        </div>
    </div>
</div>